.logo{
    padding: 10px;
}

.logo img{
    height: 50px;
}
body{
    color: #298329;
}
.navbar{
    display: flex;
    
    width: 100%;
}

.nav-items{
    margin-right: 10px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-left: 2px;
    /* background-color: aqua; */
}

.lnks{
    padding: 20px;
}

.btn{
    /* h20 */
}